<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Upload an Image for Classification</h1>
      <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" class="file-input">
        <input type="submit" value="Upload" class="submit-button">
      </form>
    </div>
  </body>
</html>
